#polinomios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

    .titulo{
        font-size: 4em;
        margin-bottom: 0.2em;
    }

    #signup{
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    .poli{
        width: 80%;
        height: 27em;
        border:dashed 0.3em #41403E;
    }

    .graph{
        height: 60%;
    }
}