* {
    margin: 0;
    padding: 0;
    }


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; 
    background-color: #C0C5C1;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0em;
    width: 80%;
    .titulo{
        font-size: 4em; 
    }
    .home-parrafo{
        font-size: 1.5em;
    }
    .home-definiciones{
        width: 100%;
    }
}


#polinomios{
    background-color: #7D8491;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
    width: 100%;
    font-size: 1.5em;

    .titulo{
        font-size: 3em;
        margin-bottom: 0.2em;
    }

    .input{
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        align-items: normal;
        &_encabezado{
            display: flex;
            flex-direction: row;
            gap: 1em;
            justify-content: center;
            align-items: center;
        }
        &_opciones{
            display: flex;
            flex-direction: column;
            gap: 0.4em;
            justify-content: center;
            align-items: end;
            font-size: 1rem;
        }
    }

    .poli{
        width: 80%;
        height: 27em;
        border:dashed 0.3em #41403E;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .graph{
        height: 60%;
        width: 80%;
    }

    .polinomios{
        width: 80%;   
    }

    &-ingresados{
        display: flex;
        flex-direction: column;
        gap: 0em;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}